body {
    font-family: 'Lato', sans-serif;
    background-color: #14181C;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 1rem;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    padding-top: 22px;
    height: 675px;
    background-image: url(../images/banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.navigation {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    height: 72px;
    margin: 0 auto;
    position: relative;
}

.search {
    background-color: rgba(255, 255, 255, 0.13);
    box-shadow: none;
    color: grey;
    font-size: 0.75rem;
    width: 110px;
    padding: 6px 30px 6px 10px;
    height: 20px;
    border-radius: 30px;
    display: block;
    outline: none;
    border: none;
    background-image: url(../images/search2.png);
    background-repeat: no-repeat;
    background-position: right 12px top 9px;
    background-size: 15px;

}

.search:hover {
    background-color: rgba(255, 255, 255, 0.698);
}

.search:focus {
    background-color: white;
    background-image: url(../images/search.png);
}

.footer {
    height: 127px;
    width: 100%;
    background: #2c3440;
}

.upper_footer {
    height: 30px;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 32px;
    display: flex;
    justify-content: space-between;
}

.pages {
    display: flex;
    overflow: hidden;
}

.pages li {
    font-weight: 700;
    font-size: 1rem;
}

.pages li+li {
    margin-left: 18px;
}

.pages a {
    color: #9ab;
    text-decoration: none;
}

.pages a:hover {
    color: #bce;
}

.links {
    display: flex;
}

.media_box {
    display: flex;
}

.media_box__twitter {
    position: relative;
    width: 50px;
    height: 70px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='24' height='22' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24 3.367a9.65 9.65 0 01-2.828.795 5.044 5.044 0 002.165-2.793 9.71 9.71 0 01-3.127 1.225A4.861 4.861 0 0016.616 1c-2.719 0-4.924 2.26-4.924 5.049 0 .396.044.781.128 1.15C7.728 6.99 4.1 4.98 1.67 1.924a5.123 5.123 0 00-.666 2.538c0 1.752.87 3.298 2.19 4.203a4.812 4.812 0 01-2.23-.631v.063c0 2.446 1.697 4.487 3.95 4.95a4.815 4.815 0 01-2.224.087c.627 2.006 2.445 3.466 4.6 3.507A9.725 9.725 0 010 18.73 13.688 13.688 0 007.548 21c9.057 0 14.01-7.694 14.01-14.366 0-.219-.006-.436-.015-.653A10.15 10.15 0 0024 3.367' fill='%23567' fill-rule='evenodd'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: auto;
    cursor: pointer;
}

.media_box__twitter:hover {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='24' height='22' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24 3.367a9.65 9.65 0 01-2.828.795 5.044 5.044 0 002.165-2.793 9.71 9.71 0 01-3.127 1.225A4.861 4.861 0 0016.616 1c-2.719 0-4.924 2.26-4.924 5.049 0 .396.044.781.128 1.15C7.728 6.99 4.1 4.98 1.67 1.924a5.123 5.123 0 00-.666 2.538c0 1.752.87 3.298 2.19 4.203a4.812 4.812 0 01-2.23-.631v.063c0 2.446 1.697 4.487 3.95 4.95a4.815 4.815 0 01-2.224.087c.627 2.006 2.445 3.466 4.6 3.507A9.725 9.725 0 010 18.73 13.688 13.688 0 007.548 21c9.057 0 14.01-7.694 14.01-14.366 0-.219-.006-.436-.015-.653A10.15 10.15 0 0024 3.367' fill='%23789' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.media_box__twitter a {
    position: absolute;
    color: #556677;
    text-decoration: none;
    font-size: 1.3rem;
    top: -2px;
    right: 10px;
}

.media_box__facebook {
    width: 50px;
    height: 70px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='22' height='22' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22 11c0-6.075-4.925-11-11-11S0 4.925 0 11c0 5.49 4.023 10.041 9.281 10.866V14.18H6.488V11h2.793V8.577c0-2.757 1.642-4.28 4.155-4.28 1.204 0 2.462.215 2.462.215v2.707h-1.387c-1.366 0-1.792.848-1.792 1.718V11h3.05l-.487 3.18h-2.563v7.686C17.977 21.041 22 16.49 22 11' fill='%23567' fill-rule='evenodd'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: auto;
    cursor: pointer;
}

.media_box__facebook:hover {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='22' height='22' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22 11c0-6.075-4.925-11-11-11S0 4.925 0 11c0 5.49 4.023 10.041 9.281 10.866V14.18H6.488V11h2.793V8.577c0-2.757 1.642-4.28 4.155-4.28 1.204 0 2.462.215 2.462.215v2.707h-1.387c-1.366 0-1.792.848-1.792 1.718V11h3.05l-.487 3.18h-2.563v7.686C17.977 21.041 22 16.49 22 11' fill='%23789' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.media_box__instagram {
    position: relative;
    width: 23px;
    height: 30px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='22' height='22' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.997.007C8.01.007 7.636.02 6.463.073c-1.17.054-1.97.24-2.67.511a5.39 5.39 0 00-1.947 1.269A5.39 5.39 0 00.577 3.8C.305 4.5.12 5.3.067 6.47.012 7.643 0 8.017 0 11.003c0 2.987.013 3.361.066 4.534.054 1.17.24 1.97.511 2.67a5.39 5.39 0 001.269 1.947 5.39 5.39 0 001.947 1.269c.7.272 1.5.457 2.67.51 1.173.054 1.547.067 4.534.067 2.986 0 3.36-.013 4.533-.066 1.17-.054 1.97-.24 2.67-.511a5.39 5.39 0 001.947-1.269 5.39 5.39 0 001.269-1.947c.272-.7.457-1.5.51-2.67.054-1.173.067-1.547.067-4.534 0-2.986-.013-3.36-.066-4.533-.053-1.17-.24-1.97-.511-2.67a5.39 5.39 0 00-1.269-1.947A5.39 5.39 0 0018.2.584c-.7-.272-1.5-.457-2.67-.51C14.357.02 13.983.006 10.997.006zm0 1.981c2.936 0 3.284.012 4.443.064 1.072.05 1.654.228 2.042.379.513.2.88.438 1.264.823.385.384.623.75.823 1.264.15.388.33.97.379 2.042.052 1.16.064 1.507.064 4.443 0 2.937-.012 3.284-.064 4.444-.05 1.072-.228 1.654-.379 2.042-.2.513-.438.88-.823 1.264a3.407 3.407 0 01-1.264.823c-.388.15-.97.33-2.042.379-1.16.052-1.507.064-4.443.064-2.937 0-3.285-.012-4.444-.064-1.072-.05-1.654-.229-2.042-.38-.513-.199-.88-.437-1.264-.822a3.407 3.407 0 01-.823-1.264c-.15-.388-.33-.97-.379-2.042-.052-1.16-.064-1.507-.064-4.444 0-2.936.012-3.284.064-4.443.05-1.072.229-1.654.38-2.042.199-.513.437-.88.822-1.264A3.407 3.407 0 014.51 2.43c.388-.15.97-.33 2.042-.379 1.16-.052 1.507-.064 4.444-.064zm0 3.369a5.647 5.647 0 100 11.293 5.647 5.647 0 000-11.293zm0 9.312a3.665 3.665 0 110-7.331 3.665 3.665 0 010 7.331zm7.19-9.535a1.32 1.32 0 11-2.64 0 1.32 1.32 0 012.64 0z' fill='%23567' fill-rule='evenodd'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: auto;
    cursor: pointer;
}

.media_box__instagram:hover {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='22' height='22' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.997.007C8.01.007 7.636.02 6.463.073c-1.17.054-1.97.24-2.67.511a5.39 5.39 0 00-1.947 1.269A5.39 5.39 0 00.577 3.8C.305 4.5.12 5.3.067 6.47.012 7.643 0 8.017 0 11.003c0 2.987.013 3.361.066 4.534.054 1.17.24 1.97.511 2.67a5.39 5.39 0 001.269 1.947 5.39 5.39 0 001.947 1.269c.7.272 1.5.457 2.67.51 1.173.054 1.547.067 4.534.067 2.986 0 3.36-.013 4.533-.066 1.17-.054 1.97-.24 2.67-.511a5.39 5.39 0 001.947-1.269 5.39 5.39 0 001.269-1.947c.272-.7.457-1.5.51-2.67.054-1.173.067-1.547.067-4.534 0-2.986-.013-3.36-.066-4.533-.053-1.17-.24-1.97-.511-2.67a5.39 5.39 0 00-1.269-1.947A5.39 5.39 0 0018.2.584c-.7-.272-1.5-.457-2.67-.51C14.357.02 13.983.006 10.997.006zm0 1.981c2.936 0 3.284.012 4.443.064 1.072.05 1.654.228 2.042.379.513.2.88.438 1.264.823.385.384.623.75.823 1.264.15.388.33.97.379 2.042.052 1.16.064 1.507.064 4.443 0 2.937-.012 3.284-.064 4.444-.05 1.072-.228 1.654-.379 2.042-.2.513-.438.88-.823 1.264a3.407 3.407 0 01-1.264.823c-.388.15-.97.33-2.042.379-1.16.052-1.507.064-4.443.064-2.937 0-3.285-.012-4.444-.064-1.072-.05-1.654-.229-2.042-.38-.513-.199-.88-.437-1.264-.822a3.407 3.407 0 01-.823-1.264c-.15-.388-.33-.97-.379-2.042-.052-1.16-.064-1.507-.064-4.444 0-2.936.012-3.284.064-4.443.05-1.072.229-1.654.38-2.042.199-.513.437-.88.822-1.264A3.407 3.407 0 014.51 2.43c.388-.15.97-.33 2.042-.379 1.16-.052 1.507-.064 4.444-.064zm0 3.369a5.647 5.647 0 100 11.293 5.647 5.647 0 000-11.293zm0 9.312a3.665 3.665 0 110-7.331 3.665 3.665 0 010 7.331zm7.19-9.535a1.32 1.32 0 11-2.64 0 1.32 1.32 0 012.64 0z' fill='%23789' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.media_box__instagram a {
    position: absolute;
    color: #556677;
    text-decoration: none;
    top: -2px;
    left: -19px;
    font-size: 1.3rem;
}

.lower_footer {
    max-width: 1000px;
    margin: 0 auto;
}

.description {
    font-size: .82rem;
    color: #9ab;
}

.description a {
    color: #9ab;
}

.description a:hover {
    color: #bce;
}

.content {
    max-width: 1000px;
    margin: 0 auto;
}

.content_wrapper {
    margin-top: -190px;
    margin-bottom: 100px;
    display: flex;
}

.content_banner {
    width: 230px;
    height: 345px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 4px;
    position: relative;
    background-image: url(https://a.ltrbxd.com/resized/film-poster/5/0/9/6/9/9/509699-da-5-bloods-0-460-0-690-crop.jpg?k=9431458c39);
}

.content_banner__followers {
    position: absolute;
    bottom: -35px;
    left: 30px;
}

.content_banner__followers a {
    color: #678;
    text-decoration: none;
    margin-right: 8px;
    font-size: .92307692rem;
}

.content_banner__followers a:hover {
    color: white;
}

.content_trailer {
    margin-top: 67px;
    width: 230px;
    height: 160px;
    border: 1px solid #303840;
    border-radius: 3px;
    overflow: hidden;
}

.content_trailer__item1 {
    width: 100%;
    height: 35px;
    background: rgb(40, 48, 56);
    padding-left: 10px;
    display: flex;
    align-items: center;
    color: #9ab;
    font-size: .74615385rem;
    box-sizing: border-box;
}

.play {
    background-image: url(https://s.ltrbxd.com/static/img/play-trailer.5a5ccfc7.svg);
    text-decoration: none;
    background-repeat: no-repeat;
    height: 20px;
}

.content_trailer__item1 p {
    margin-right: 45px;
}

.content_trailer__item1 span {
    display: block;
    margin-top: 2px;
    margin-left: 25px;
    color: #bce;
    font-size: .72307692rem;
}

.content_trailer__item2 {
    width: 100%;
    height: 35px;
    display: flex;
    margin-left: 10px;
    margin-bottom: 3px;
}

.content_trailer__item2 p {
    color: #9ab;
    margin-left: 10px;
    margin-top: 12px;
    font-size: .8rem;
}

.netflix {
    height: 23px;
    width: 23px;
    border-radius: 8px;
    background-image: url(https://a.ltrbxd.com/sm/upload/za/bp/jc/zn/netflix-small.png?k=91f21128b6);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 8px;
}

.play_btn {
    background: #283038;
    width: 33px;
    height: 16px;
    font-size: .59230769rem;
    color: #89a;
    border-radius: 3px;
    padding-left: 5px;
    padding-top: 3px;
    box-sizing: border-box;
    cursor: pointer;
    margin-top: 12px;
    margin-left: 8px;

}

.play_btn:hover {
    background: white;
}

.content_trailer__item3 {
    border-top: 1px solid #202830;
    border-bottom: 1px solid #202830;
    height: 38px;
    width: 100%;
    margin-left: 10px;
}

.content_trailer__item3 a {
    display: block;
    color: #678;
    text-decoration: none;
    font-size: .85rem;
    margin-top: 10px;
}

.content_trailer__item3 a:hover {
    color: #40bcf4;
}

.content_trailer__item3 span {
    background: #ee7000;
    color: white;
    font-size: .7rem;
    border-radius: 2px;
    margin-left: 5px;
    margin-right: 5px;
}

.content_trailer__item4 {
    width: 100%;
    height: 38px;
    margin-left: 10px;
    padding-top: 10px;
}

.services {
    color: #40bcf4;
    font-size: .8rem
}

.watch {
    margin-left: 82px;
    font-size: .7rem;
    color: #678;
    text-decoration: none;
}

.watch:hover {
    color: #f0c129;
}

.content_middleside {
    width: 420px;
    z-index: 2;
    margin-left: 70px;
}

.content_description {
    color: #9ab;
}

.description_title {
    display: flex;
    width: 490px;
}

.description_title span {
    color: #9ab;

}

.description_title a {
    color: #def;
    margin-left: 6px;
    margin-right: 6px;
}

.description_title a:hover {
    color: #40bcf4;
}

.directed {
    margin-top: 13px;
    font-size: 1.1rem;
}

.description_title h1 {
    color: white;
    margin: 0;
    font-family: 'Vesper Libre', serif;
    font-weight: 900;
    font-size: 2.3rem;
    line-height: 1.3;
    margin-right: 10px;
}

.description_text {
    width: 385px;
    margin-bottom: 78px;
}

.description_text p {
    font-size: 1.1rem;
    font-family: serif;
    font-weight: bold;
    line-height: 1.6rem;
}

.description_text h1 {
    font-size: 0.9rem;
    letter-spacing: 0.09rem;
    font-weight: 400;
}

.crew_list {
    width: 385px;
    height: 23px;
    border-bottom: 1px solid #456;
}

.crew_list a {
    display: inline-block;
    text-decoration: none;
    margin-right: 15px;
    color: white;
    padding-bottom: 4px;
}

.crew_list a:first-child {
    border-bottom: 1px solid white;
}

.crew_list a+a {
    color: #00e054;
}

.crew_list a+a:hover {
    border-bottom: 1px solid #00e054;
}

.actor_list {
    padding-top: 15px;
}

.actor_box {
    color: #9ab;
    background: #283038;
    display: inline-block;
    padding: 3px 6px;
    white-space: nowrap;
    border-radius: 3px;
    margin: 0 1px 5px 0;
    font-size: 0.9rem;
    cursor: pointer;
}

.actor_box:hover {
    color: white;
}

.movie_lenght {
    width: 300px;
    height: 50px;
    color: #9ab;
    display: flex;
    margin-top: 20px;
    font-size: .8rem;
}

.movie_lenght__text {
    margin-right: 5px;
}

.imdb {
    margin-top: -3px;
    margin-right: 5px;
    color: #9ab;
    border: 2px solid #303840;
    font-size: .76923077rem;
    text-transform: uppercase;
    letter-spacing: .075em;
    border-radius: 2px;
    height: 20px;
    cursor: pointer;
}

.imdb:hover {
    color: white;
    border: 2px solid white;
}

.tmdb {
    margin-top: -3px;
    height: 20px;
    color: #9ab;
    border: 2px solid #303840;
    font-size: .76923077rem;
    text-transform: uppercase;
    letter-spacing: .075em;
    border-radius: 2px;
    cursor: pointer;
}

.tmdb:hover {
    color: white;
    border: 2px solid white;
}

.tmdb p {
    margin-top: 2px;
    margin-left: 5px;
    margin-right: 5px;
}

.imdb p {
    margin-top: 2px;
    margin-left: 5px;
    margin-right: 5px;
}

.content_rightside {
    width: 230px;
    z-index: 2;
    margin-left: 45px;
}

.share_box {
    width: 230px;
    height: 80px;
    background: #456;
    overflow: hidden;
    border-radius: 4px;
    margin-top: 55px;
}

.sing_in {
    height: 20px;
    border-bottom: 1px solid #2c3440;
    color: #bcd;
    text-align: center;
    padding: 11px 0px;
}

.sing_in:hover {
    color: white;
}

.sing_in p {
    margin: 0px;
    cursor: pointer;
    font-size: .9rem;
}

.share {
    text-align: center;
    padding: 6px 0px;
    color: #bcd;
}

.share:hover {
    color: white;
}

.share p {
    margin: 0px;
    font-size: .9rem;
    cursor: pointer;
}

.rating {
    margin-top: 30px;
}

.rating_number {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #456;
    padding-bottom: 5px;
}

.rating_title {
    font-size: 0.9rem;
    color: #9ab;
    text-decoration: none;
}

.rating_title:hover {
    color: #40bcf4;
}

.fans {
    font-size: 0.65rem;
    padding-top: 5px;
    color: #678;
    text-decoration: none;
}

.fans:hover {
    color: #40bcf4;
}

.rating_pillar {
    width: 230px;
    display: flex;
    height: 55px;
    position: relative;
}

.rating_pillar ul {
    display: flex;
    transform: rotate(-180deg);
    transform: scaleX(1);
    transform: scaleY(-1);
}

.rating_pillar li {
    text-decoration: none;
    margin-right: 1px;
    cursor: pointer;
}

.rating_pillar li:last-child {
    margin-right: 5px;
}

.rating_pillar li:hover {
    background: #99AABB;
}

.pillar1 {
    width: 15px;
    height: 2px;
    background: #456;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.pillar2 {
    width: 15px;
    height: 4px;
    background: #456;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.pillar3 {
    width: 15px;
    height: 6px;
    background: #456;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.pillar4 {
    width: 15px;
    height: 12px;
    background: #456;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.pillar5 {
    width: 15px;
    height: 16px;
    background: #456;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.pillar6 {
    width: 15px;
    height: 22px;
    background: #456;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.pillar7 {
    width: 15px;
    height: 27px;
    background: #456;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.pillar8 {
    width: 15px;
    height: 37px;
    background: #456;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.pillar9 {
    width: 15px;
    height: 16px;
    background: #456;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.pillar10 {
    width: 15px;
    height: 12px;
    background: #456;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.rating_pillar span {
    color: #00e054;
    font-size: .8rem;
    display: block;
    margin-top: 41px;
}

.star_rating {
    color: #789;
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 1.2rem;
    cursor: pointer;
}